<nav class="navbar navbar-expand-lg bg-body-tertiary nav-underline " style="height: 80px">
  <div class="container-fluid">
    <!-- Brand Name -->
    <a class="navbar-brand fw-bold font-monospace fs-2" href="/">DIKSHA KUNWAR</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav w-50 d-flex justify-content-between">
        <li class="nav-item flex-grow-1 text-center">
          <a class="nav-link fw-semibold fs-4" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item flex-grow-1 text-center">
          <a class="nav-link fw-semibold fs-4" href="/about">About</a>
        </li>
        <li class="nav-item flex-grow-1 text-center">
          <a class="nav-link fw-semibold fs-4" href="/contact">Contact</a>
        </li>
        <li class="nav-item flex-grow-1 text-center">
          <a class="nav-link fw-semibold fs-4" href="/address">Address</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
