<%-include('partials/header')%>
<%-include('partials/navbar')%>
<br>
<p class="fs-1 fw-bold">Home</p>
<br>
<br>
<div class="container d-flex w-50 align-items-center">
  <div class="flex-shrink-0">
    <img src="your-image.jpg" alt="Diksha Kunwar" class="rounded-circle" width="150" height="150">
  </div>
  <div class="flex-grow-1 ms-4">
  <p>
    My name is Diksha Kunwar.
      A highly motivated B.Tech student in Computer Science, proficient in C and Java with a strong foundation in problem-solving and data structures.  
      Eager to apply my academic knowledge to real-world projects and contribute to meaningful solutions.
    </p>
  </div>
</div>

<%include('partials/footer')%>